@import "tailwind.scss";

* {
    font-family: "DM Sans", sans-serif;
    transition: 0.1s;
}

body {
    height: 100vh;
    background-image: linear-gradient(#1a2357, #1a0b38);

    #app {
        height: 100vh;
    }

    .link-underline {
        border-bottom-width: 1;
        background-image: linear-gradient(transparent, transparent), linear-gradient(lightblue, blue);
        background-size: 0 3px;
        background-position: 0 100%;
        background-repeat: no-repeat;
        transition: background-size 0.5s ease-in-out;
    }

    .link-underline:hover {
        background-size: 100% 3px;
        background-position: 0 100%;
    }

    .link-underline-active {
        border-bottom-width: 1;
        background-image: linear-gradient(transparent, transparent), linear-gradient(lightblue, blue);
        background-size: 100% 3px;
        background-position: 0 100%;
        background-repeat: no-repeat;
        transition: background-size 0.5s ease-in-out;
    }
}
