@import "tailwind.scss";

* {
    font-family: "DM Sans", sans-serif;
    transition: 0.1s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-position: 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(#0a1348, #4c2892);

    .link-underline {
        border-bottom-width: 1;
        background-image: linear-gradient(transparent, transparent), linear-gradient(lightblue, blue);
        background-size: 0 3px;
        background-position: 0 100%;
        background-repeat: no-repeat;
        transition: background-size 0.5s ease-in-out;
    }

    .link-underline:hover {
        background-size: 100% 3px;
        background-position: 0 100%;
    }

    .link-underline-active {
        border-bottom-width: 1;
        background-image: linear-gradient(transparent, transparent), linear-gradient(lightblue, blue);
        background-size: 100% 3px;
        background-position: 0 100%;
        background-repeat: no-repeat;
        transition: background-size 0.5s ease-in-out;
    }
}
